langchain
langchain-community
langchain-openai
pypdf
faiss-cpu
python-dotenv
openai
sentence_transformers
fastapi
groq
joblib
langchain-groq
langchain-huggingface
langchain-text-splitters
pydantic
uvicorn
python-multipart
